@import '../../../variables.css';
@import '../../../utils.css';
@import '../../../common.css';

.modalContainer{
  border-radius: 4px;
}

.logInModalBody {
  padding: 0px;
}

.noPadding{
  padding: 0px;
}

.noMargin {
  margin: 0px;
}

.modalHeading{
  color: var(--common-text-color);
}

.panelBody{
  padding: 20px;

}

.space2{
  margin-bottom: 12px;
}

.space3{
  margin-bottom: 18px;
}

.spaceTop2{
  margin-top: 12px
}

.panelHeader{

  border-radius: 0;
  width: 100%;
  display: block;
  color: var(--common-text-color);
  font-size: 16px;
  border-bottom: 1px solid #dce0e0;
  margin: 0px;
}

.panelBody{
  margin: 0;
  padding: 18px 24px 24px;
  position: relative;
}

.labelText{
  font-size: 14px;
  color: var(--common-text-color);
  font-weight: bold;
}

.formControlInput{
  display: block;
  padding: 0 20px;
  width: 100%;
  font-size: 16px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid var(--common-border-color);
  box-shadow: inherit;
}

.formGroup {
  margin-bottom: 6px;
}

/*************************Panel Styles End******************************************/
a:hover{
  cursor: pointer;
  text-decoration: none;
}



.btnlarge, .btnlarge:hover, .btnlarge:focus{
    padding: 10px 20px !important;
    font-size: 16px;
  }

.space1{
  margin-bottom:6px;
}

.space2{
  margin-bottom:12px;
}

.space4{
  margin-bottom: 24px;
}


.btnRight{
  margin-right: 10px;
}

.introText{
  color: #7d7d7d;
  margin-bottom: 20px;
}
.flexEnd{
  display: flex;
  justify-content: flex-end;
}


