@import '../../../components/variables.css';

/** RentAll - Begin **/

.container {
	max-width: var(--max-content-width);
	margin-bottom: 84px;
	width: 100%;
}

h4.common {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 18px;
}

p.common {
	font-size: 18px;
	margin-bottom: 0;
}

.whyblock {
	background-color: #F6F6FF;
	border: 1px solid #D5D5FF;
	border-radius: 6px;
	padding: 36px;
	display: flex;
	gap: 40px;
}

.gridWhy {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 42px;
}

.whyblockTwo {
	background: #FFF8EB 0% 0% no-repeat padding-box;
	border: 1px solid #FFE4B2;
}

.imageObject {
	object-fit: contain;
}

.imageWidthHeight {
	width: 100%;
	max-width: 256px;
	height: 256px;
}

@media (max-width:1200px) and (min-width:992px) {
	.whyblock {
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media screen and (max-width: 991px) {
	.whybnb {
		padding-top: 45px;
		margin-bottom: 0px;
	}

	h4.common {
		font-size: 23px;
		font-weight: 600;
	}

	.mainhedding h1 {
		font-size: 36px;
		line-height: 51px;
		margin-bottom: 13px;
	}

	.gridWhy {
		grid-template-columns: 100%;
	}
}

@media screen and (max-width: 767px) {
	.whybnb {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.common {
		font-size: 23px;
		font-weight: 600;
	}

	.whyblock {
		padding: 20px;
		flex-wrap: wrap;
		justify-content: center;
		gap: 15px;
	}

	.mainhedding h1 {
		font-size: 32px;
		line-height: 51px;
		text-align: left;
		margin-bottom: 5px;
		text-align: left;
		padding-left: 15px;
		padding-right: 15px;
	}

	.steps {
		margin-top: 24px;
	}

	h4.common {
		font-size: 20px;
		margin-bottom: 10px;
	}

	p.common {
		font-size: 14px;
		line-height: 1.7;
		font-weight: 400;
	}
}