 .iconContainer {
	position: absolute;
    right: 26px;
    top: 30px;
	z-index: 2;
    cursor: pointer;
}

.displayFlex {
	display: flex;
    align-items: center;
}

.marginRight {
    margin-right: 30px;
}
.minWidth{
    min-width: 91px;
}