@import '../../variables.css';
@import '../../utils.css';

/*************************Sidenavigation Styles start******************************************/

.listContainer {
	padding-left: 0px;
	list-style-type: none;
}
.sideNavitem {
	display: block;
	padding: 6px 0;
	font-size: 16px;
	color: #767676;
	text-decoration: none;
}
.sideNavitem:hover {
	text-decoration: none;
	color: var(--common-text-color);
}
.sideNavitem:active {
	text-decoration: none;
	color: var(--common-text-color);
	font-weight: bold;
}
.sideNavitem:active {
	text-decoration: none;
	color: var(--common-text-color);
	font-weight: bold;
}
/*************************Sidenavigation Styles end******************************************/

.panelHeader {
	border: 1px solid var(--common-border-color);
	border-radius: 12px;
}
.spaceTop2 {
	margin-top: 12px;
}
.space4 {
	margin-bottom: 24px;
}
.button {
	border-color: var(--btn-primary-bg-hover);
	background-color: var(--btn-primary-bg-hover);
	color: #fff;
	font-size: 18px;
	padding: 9px 27px;
	width: 100%;
	font-weight: 500;
}
.button:hover {
	background: rgba(54, 50, 119, 0.8);
}
.button:focus {
	border-color: #0074c2;
	box-shadow: 0 0 8px rgba(0, 116, 194, 0.6);
}
.btnPrimary {
	border-color: var(--btn-primary-bg);
	background-color: var(--btn-primary-bg);
	color: #fff;
}
.btnlarge {
	padding: 7px 21px;
}
.btnPrimary:hover,
.btnPrimary:focus,
.btnPrimary:active,
.btnPrimary:active:hover,
.btnPrimary:active:focus {
	border-color: var(--btn-primary-bg-hover);
	background-color: var(--btn-primary-bg-hover);
	color: #fff;
}
.btnPrimaryBorder {
	border-color: var(--btn-primary-bg);
	color: var(--btn-primary-bg);
	background-color: #fff;
}
.btnPrimaryBorder:hover,
.btnPrimaryBorder:focus,
.btnPrimaryBorder:active,
.btnPrimaryBorder:active:hover,
.btnPrimaryBorder:active:focus {
	border-color: var(--btn-primary-bg-hover);
	color: var(--btn-primary-bg-hover);
	background-color: #fff;
}
.labelText {
	font-size: 14px;
	color: var(--common-text-color);
	font-weight: normal;
	margin-bottom: 12px;
}
.formGroup {
	margin-bottom: 6px;
}
.space2 {
	margin-bottom: 12px;
}
.btnRight {
	float: right;
}
.textRight {
	text-align: right;
}
.formGroup {
	margin-bottom: 6px;
}
.labelText {
	font-size: 14px;
	color: var(--common-text-color);
	font-weight: normal;
}
.headingCss{
	background: var(--common-gray-bg-color);
	margin: 0;
	font-size: 20px;
	font-weight: 600;
	padding: 22px 23px;
	border-radius: 12px 12px 0 0;
}
.paddingAll{
	padding: 20px 24px;
}
.fullWidth{
	width: 100%;
	justify-content: center;
}
@media screen and (max-width: 743px) {
	.textRight {
		text-align: left;
	}
}